{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.locale) }}
            {{ form_errors(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.typeId) }}
            {{ form_errors(form.typeId) }}
            {{ form_widget(form.typeId) }}
        </div>
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.parent) }}
            {{ form_errors(form.parent) }}
            {{ form_widget(form.parent) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.created) }}
            {{ form_widget(form.created) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.updated) }}
            {{ form_widget(form.updated) }}
        </div>
    </div>
    <div class="hidden-xl-down">{{ form_widget(form.id) }}</div>
    <div class="form-group text-center">
        {{ form_widget(form.save) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans }}</a>
    </div>
{{ form_end(form) }}