{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.locale) }}
            {{ form_errors(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {{ form_label(form.typeId) }}
            {{ form_errors(form.typeId) }}
            {{ form_widget(form.typeId) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="hidden-xl-down">
        {{ form_widget(form.id) }}
    </div>
    <div class="form-group text-center">
        {{ form_widget(form.save) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans }}</a>
    </div>
{{ form_end(form) }}

{% block javascriptsFooter %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#app_bundle_meta_type_type').on('change', function () {
                let type = $(this).val();
                $.ajax({
                    url     : "{{ path('ajax_elements') }}/" + type,
                    success : function (data) {
                        data = JSON.parse(data);
                        if (data) {
                            $('#app_bundle_meta_type_typeId option').remove();
                            $.each(data, function (value, key) {
                                $('#app_bundle_meta_type_typeId').append('<option value="' + key + '">' + value + '</option>');
                            });
                        } else {
                            alert("{{ 'for_all.empty_data'|trans }}")
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}