{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.locale) }}
            {{ form_errors(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="hidden-xl-down">
        {{ form_widget(form.id) }}
    </div>
    <div class="form-group text-center">
        {{ form_widget(form.save) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans }}</a>
    </div>
{{ form_end(form) }}