{{ form_start(form) }}
    <div class="row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.locale) }}
            {{ form_errors(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.category) }}
            {{ form_errors(form.category) }}
            {{ form_widget(form.category) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.image) }}
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.status) }}
            {{ form_errors(form.status) }}
            {{ form_widget(form.status) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.url) }}
            {{ form_errors(form.url) }}
            {{ form_widget(form.url) }}
        </div>
        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.created) }}
            {{ form_widget(form.created) }}
        </div>
        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
            {{ form_label(form.updated) }}
            {{ form_widget(form.updated) }}
        </div>
    </div>
    <div class="hidden-xl-down">{{ form_widget(form.id) }}</div>
    <div class="form-group text-center">
        {{ form_widget(form.save) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans }}</a>
    </div>
{{ form_end(form) }}