{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
    </div>
    <div class="form-group text-center">
        {{ form_widget(form.save) }}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans }}</a>
    </div>
{{ form_end(form) }}