<thead>
    <tr class="thead-default">
        <th>{{ 'admin.entity.for_all.id'|trans }}</th>
        <th>{{ 'admin.entity.for_all.locale'|trans }}</th>
        <th>{{ 'admin.entity.category.url'|trans }}</th>
        <th>{{ 'admin.entity.category.title'|trans }}</th>
        <th>{{ 'admin.entity.for_all.status'|trans }}</th>
        <th>{{ 'admin.actions.title'|trans }}</th>
    </tr>
</thead>
<tbody>
    {% set status = {2 : 'admin.status.draft'|trans, 1 : 'admin.status.enabled'|trans, 0 : 'admin.status.disabled'|trans} %}
    {% for key, model in data %}
        <tr>
            <td>{{ model.getId() }}</td>
            <td>{{ model.getLocale() }}</td>
            <td>{{ model.getUrl() }}</td>
            <td>{{ model.getTitle() }}</td>
            <td>{{ status[model.getStatus()] }}</td>
            <td>
                <a href="{{ path('edit_category', {'id' : model.getId()}) }}" title="{{ 'admin.actions.edit'|trans }}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a href="{{ path('remove_category', {'count' : 'one', 'id' : model.getId()}) }}" title="{{ 'admin.actions.remove'|trans }}" class="remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>