<thead>
    <tr class="thead-default">
        <th>{{ 'admin.entity.for_all.id'|trans }}</th>
        <th>{{ 'admin.entity.for_all.locale'|trans }}</th>
        <th>{{ 'admin.entity.meta.type'|trans }}</th>
        <th>{{ 'admin.entity.meta.type_id'|trans }}</th>
        <th>{{ 'admin.entity.meta.name'|trans }}</th>
        <th>{{ 'admin.entity.meta.content'|trans }}</th>
        <th>{{ 'admin.actions.title'|trans }}</th>
    </tr>
</thead>
<tbody>
    {% for key, model in data %}
        <tr>
            <td>{{ model.getId() }}</td>
            <td>{{ model.getLocale() }}</td>
            <td>{{ model.getType() }}</td>
            <td>{{ model.getTypeId() }}</td>
            <td>{{ model.getName() }}</td>
            <td>{{ model.getContent() }}</td>
            <td>
                <a href="{{ path('edit_meta', {'id' : model.getId()}) }}" title="{{ 'admin.actions.edit'|trans }}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <a href="{{ path('remove_meta', {'count' : 'one', 'id' : model.getId()}) }}" title="{{ 'admin.actions.remove'|trans }}" class="remove">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>