{% extends 'base.site.html.twig' %}

{% block title %}Error: {{ status_text }}{% endblock %}

{% block content %}
    <h1>Page not found</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </div>
    {#<h1 class="text-danger">{{ 'error.name'|trans({ '%status_code%': status_code }) }}</h1>

    <p class="lead">{{ 'http_error.description'|trans({ '%status_code%': status_code }) }}</p>
    <p>{{ 'http_error.suggestion'|trans({ '%url%': path('blog_index') })|raw }}</p>

    <h1>Page not found</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        #}{# ... #}{#
    {% endif %}

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>#}
{% endblock %}
