{% extends 'base.site.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block content %}
    <h1 class="text-danger text-center">Oops! An Error Occurred</h1>
    <h2 class="text-center">The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div class="text-center">
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
{% endblock %}
