{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'for_all.info'|trans({}, 'messages') }}{% endblock %}

{% block fos_user_content %}
    <ul class="list-group fos_user_user_show">
        <li class="list-group-item">{{ 'profile.show.username'|trans }}: {{ user.username }}</li>
        <li class="list-group-item">{{ 'profile.show.email'|trans }}: {{ user.email }}</li>
        <li class="list-group-item"><a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit.submit'|trans }}</a></li>
        <li class="list-group-item"><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans }}</a></li>
        <li class="list-group-item"><a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans({}, 'messages') }}</a></li>
    </ul>
{% endblock fos_user_content %}
