.pointer {cursor: pointer;}

.see {
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    opacity: 1;
    transform: translateY(0) scale(1);
    -webkit-transition:
            all 0.15s ease-in-out 0s,
            -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s,
            opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s;
    transition:
            all 0.15s ease-in-out 0s,
            transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s,
            opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s;
}

section#contact-me {
    background-color: #222222;
    background-image: url("../../images/map-image.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}

section#contact-me .section-heading {color: white;}

section#contact-me .form-group {margin-bottom: 25px;}

section#contact-me .form-group input,
section#contact-me .form-group textarea {padding: 20px;}

section#contact-me .form-group input.form-control {height: auto;}

section#contact-me .form-group textarea.form-control {height: 324px;}

section#contact-me .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact-me ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact-me :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact-me ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact-me :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

section#contact-me .text-danger {color: #e74c3c;}

footer {
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: #222;
}

.footer {
    color: #222;
    background: #fff;
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}