{% extends 'base.site.no_page.html.twig' %}

{% block title %}{{ article.getTitle() }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">{{ 'site.menu.go_to_top'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('category') }}">{{ 'site.menu.category'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('article') }}">{{ 'site.menu.article'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('projects') }}">{{ 'site.menu.projects'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">{{ article.getTitle() }}</h1>
                <hr>
                <p>{{ article.getContent()|raw }}</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#post">{{ 'site.button.article'|trans }}</a>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#comments">{{ 'site.button.comments'|trans }}</a>
            </div>
        </div>
    </header>

    <section id="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="article-box">
                        <h3>{{ article.getTitle() }}</h3>
                        <div>{{ article.getContent()|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="comments">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="comments-box">
                        {#<h3>{{ article.getTitle() }}</h3>#}
                        {#<div>{{ article.getContent()|raw }}</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascriptsFooter %}{% endblock %}