<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ 'admin.dashboard'|trans }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bower/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower/bower_components/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/custom.css') }}">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('images/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#00aba9">

    <script type="text/javascript" src="{{ asset('bower/bower_components/jquery/dist/jquery.min.js') }}"></script>
    {% block javascriptsHeader %}{% endblock %}
</head>
<body>
    {% set dateTimeFormat = 'Y-m-d H:i:s' %}
    {% if app.request.getLocale() == 'ru' %}
        {% set dateTimeFormat = 'd.m.Y H:i:s' %}
    {% endif %}
    <!-- #wrapper -->
    <div id="wrapper">
        <!-- header -->
        <header>
            <!-- .navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ path('homepage') }}" class="navbar-brand"><img src="{{ asset('images/face.png') }}"> {{ 'for_all.short_name'|trans }}</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('dashboard') }}" class="nav-link"><i class="fa fa-home" aria-hidden="true"></i> {{ 'admin.dashboard'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('list_option') }}" id="options" class="nav-link">
                                <i class="fa fa-cogs" aria-hidden="true"></i>{{ 'admin.elements.many.option'|trans }}
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" id="elementsSystem" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-file-code-o" aria-hidden="true"></i>{{ 'admin.elements.many.system'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="elementsSystem">
                                <a href="{{ path('list_page') }}" class="dropdown-item">{{ 'admin.elements.many.page'|trans }}</a>
                                <a href="{{ path('list_block') }}" class="dropdown-item">{{ 'admin.elements.many.block'|trans }}</a>
                                <a href="{{ path('list_category') }}" class="dropdown-item">{{ 'admin.elements.many.category'|trans }}</a>
                                <a href="{{ path('list_article') }}" class="dropdown-item">{{ 'admin.elements.many.article'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('list_project') }}" class="dropdown-item">{{ 'admin.elements.many.project'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('feedback') }}" class="dropdown-item">{{ 'admin.feedback'|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" id="seo" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-group" aria-hidden="true"></i>{{ 'admin.seo'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="seo">
                                <a href="{{ path('list_meta') }}" class="dropdown-item">{{ 'admin.elements.many.meta'|trans }}</a>
                                <a href="{{ path('list_metric') }}" class="dropdown-item">{{ 'admin.elements.many.metric'|trans }}</a>
                                <a href="{{ path('robots', {'action' : 'edit'}) }}" class="dropdown-item">{{ 'admin.elements.one.robots'|trans }}</a>
                                <a href="{{ path('sitemap', {'_format' : 'xml'}) }}" class="dropdown-item" target="_blank">{{ 'admin.elements.one.sitemap'|trans }}</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" id="profile" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>{{ 'security.profile'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="seo">
                                <a href="{{ path('fos_user_profile_show') }}" class="dropdown-item">{{ 'for_all.info'|trans }}</a>
                                <a href="{{ path('fos_user_change_password') }}" class="dropdown-item">{{ 'security.change_password'|trans }}</a>
                                <a href="{{ path('fos_user_registration_register') }}" class="dropdown-item">{{ 'security.new_registration'|trans }}</a>
                                <div class="dropdown-divider"></div>
                                <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item">{{ 'security.logout'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /.navbar -->
            <!-- .breadcrumb -->
            <ol class="breadcrumb">
                {% for key, breadcrum in breadcrums %}
                    {% if breadcrum.active %}
                        <li class="breadcrumb-item active">{{ breadcrum.name }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{{ breadcrum.url }}">{{ breadcrum.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <!-- /.breadcrumb -->
        </header>
        <!-- /header -->

        <!-- #content -->
        <div id="content">
            <div class="container">{% block content %}{% endblock %}</div>
        </div>
        <!-- /#content -->

        <!-- footer -->
        <footer class="text-center">Copyright &copy; {{ 'for_all.my_name'|trans }} {{ 'now'|date('Y') }} {{ 'for_all.all_rights_reserved'|trans }}.</footer>
        <!-- /footer -->
    </div>
    <!-- /#wrapper -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous" ></script>
    <script type="text/javascript" src="{{ asset('bower/bower_components/bootstrap/dist/js/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bower/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script type="text/javascript">$(function() {FastClick.attach(document.body);});</script>
    {% block javascriptsFooter %}{% endblock %}
</body>
</html>