<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{{ 'site.title.homepage'|trans }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}</title>

    {% if metaObjects is not empty %}
        {% for key, meta in metaObjects %}
            <meta name="{{ meta.getName() }}" content="{{ meta.getContent() }}">
        {% endfor %}
    {% endif %}

    <link href="{{ asset('bower/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bower/bower_components/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/site/creative.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/site/custom.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    {% set url = app.request.getUri() %}
    {% set protocol = app.request.getScheme() %}
    {% set hostname = app.request.getHost() %}
    {% set path = app.request.getRequestUri() %}
    {% set domain = hostname|split('.') %}

    {% if domain[0]|length == 2 %}
        <link href="{{ url|replace({'://en.' : '://ru.'}) }}" rel="alternate" hreflang="ru">
        <link href="{{ url|replace({'://ru.' : '://en.'}) }}" rel="alternate" hreflang="en">
    {% else %}
        <link href="{{ protocol ~ '://ru.' ~ hostname|replace({'www.' : ''}) ~ path }}" rel="alternate" hreflang="ru">
        <link href="{{ url }}" rel="alternate" hreflang="en">
    {% endif %}

    <link href="{{ asset('images/icons/favicon.ico') }}" rel="icon" type="image/x-icon">
    <link href="{{ asset('images/icons/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="120x120">
    <link href="{{ asset('images/icons/favicon-32x32.png') }}" rel="icon" type="image/png" sizes="32x32">
    <link href="{{ asset('images/icons/favicon-16x16.png') }}" rel="icon" type="image/png" sizes="16x16">
    <link href="{{ asset('images/icons/manifest.json') }}" rel="manifest">
    <link href="{{ asset('images/icons/safari-pinned-tab.svg') }}" rel="mask-icon" color="#5bbad5">
    <meta name="theme-color" content="#00aba9">

    <script type="text/javascript" src="{{ asset('bower/bower_components/jquery/dist/jquery.min.js') }}"></script>
    {% block javascriptsHeader %}{% endblock %}
</head>
<body id="page-top">

    {% block content %}{% endblock %}

    <!-- Footer -->
    {% block footer %}{% endblock %}

    <script src="{{ asset('bower/bower_components/fastclick/lib/fastclick.js') }}" type="text/javascript"></script>
    <script type="text/javascript">$(function() {FastClick.attach(document.body);});</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous" ></script>
    <script src="{{ asset('bower/bower_components/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript" ></script>

    <script src="{{ asset('bower/bower_components/jquery.easing/js/jquery.easing.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bower/bower_components/scrollreveal/dist/scrollreveal.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bower/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('js/creative.min.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('js/custom.js') }}" type="text/javascript" ></script>
    {% block javascriptsFooter %}{% endblock %}

    {% if metrics is not empty and env == 'prod' %}
        {% for metric in metrics %}
            {{ metric.getContent()|raw }}
        {% endfor %}
    {% endif %}
</body>
</html>