{% extends 'base.site.html.twig' %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">Copyright &copy; {{ 'for_all.my_name'|trans }} {{ 'now'|date('Y') }} {{ 'for_all.all_rights_reserved'|trans }}.</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}