{% extends 'base.admin.html.twig' %}

{% block title %}{{ ('admin.edit.'~type)|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-center">{{ ('admin.edit.'~type)|trans }}</h3>
            {% include 'admin/forms/' ~ type ~ '.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}{% endblock %}