{% extends 'base.admin.html.twig' %}

{% block title %}{{ 'admin.feedback'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bower/bower_components/fancybox/dist/jquery.fancybox.min.css') }}">
{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <section class="text-center">
                <h2>{{ 'admin.feedback'|trans }}</h2>
                {% set disable = false %}
                {% if feedbacks is empty %}
                    {% set disable = true %}
                {% endif %}
                <a
                        href="{{ path('remove_feedback', {'count' : 'all'}) }}"
                        title="{{ 'admin.actions.remove_all'|trans }}"
                        class="btn btn-link {% if (disable) %}disabled{% endif %}"
                        {% if (disable) %}aria-disabled="true"{% endif %}
                >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </section>
            {% if feedbacks is not empty %}
                <table class="table table-hover {#table-responsive#}">
                    <thead class="thead-default">
                        <tr>
                            <th>{{ 'admin.entity.for_all.id'|trans }}</th>
                            <th>{{ 'admin.entity.for_all.locale'|trans }}</th>
                            <th>{{ 'admin.entity.feedback.name'|trans }}</th>
                            <th>{{ 'admin.entity.feedback.subject'|trans }}</th>
                            <th>{{ 'admin.entity.feedback.phone'|trans }}</th>
                            <th>{{ 'admin.entity.feedback.email'|trans }}</th>
                            <th>{{ 'admin.entity.feedback.date'|trans }}</th>
                            <th>{{ 'admin.actions.title'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, feedback in feedbacks %}
                        <tr>
                            <td scope="row">{{ feedback.getId() }}</td>
                            <td>{{ feedback.getLocale() }}</td>
                            <td>{{ feedback.getName() }}</td>
                            <td>{{ feedback.getSubject() }}</td>
                            <td>{{ feedback.getPhone() }}</td>
                            <td>{{ feedback.getEmail() }}</td>
                            <td>{{ feedback.getSendDate()|date(dateTimeFormat) }}</td>
                            <td>
                                <a href="{{ path('feedbackView', {'id' : feedback.getId()}) }}" title="{{ 'admin.actions.view'|trans }}" class="fancybox">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('remove_feedback', {'count' : 'one', 'id' : feedback.getId()}) }}" title="{{ 'admin.actions.remove'|trans }}" class="remove">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('a.fancybox').on('click', function (e) {
                            e.preventDefault();

                            $.ajax({
                                url     :   $(this).attr("href"),
                                type    :   'POST',
                                success :   function (result) {
                                    let content = JSON.parse(result);
                                    $.fancybox.open(content);
                                },
                                error   :   function (result) {
                                    alert("{{ 'error.ajax'|trans }}");
                                    console.log(result);
                                }
                            });
                        });
                    });
                </script>
            {% else %}
                <p class="text-center">{{ 'admin.nothing_not_found'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}
    <script type="text/javascript" src="{{ asset('bower/bower_components/fancybox/dist/jquery.fancybox.min.js') }}"></script>
{% endblock %}