{% extends 'base.admin.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <h3 class="card-header">{{ 'admin.fast_access'|trans }}</h3>
                <div class="card-block">
                    <p class="text-center">
                        <a href="{{ path('new_option') }}" class="btn btn-link">{{ 'admin.new.option'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('new_page') }}" class="btn btn-link">{{ 'admin.new.page'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('new_category') }}" class="btn btn-link">{{ 'admin.new.category'|trans }}</a>
                    </p>
                    <p class="text-center">
                        <a href="{{ path('new_article') }}" class="btn btn-link">{{ 'admin.new.article'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('new_block') }}" class="btn btn-link">{{ 'admin.new.block'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('new_project') }}" class="btn btn-link">{{ 'admin.new.project'|trans }}</a>
                    </p>
                    <p class="text-center">
                        <a href="{{ path('new_meta') }}" class="btn btn-link">{{ 'admin.new.meta'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('new_metric') }}" class="btn btn-link">{{ 'admin.new.metric'|trans }}</a>&nbsp;|&nbsp;
                        <a href="{{ path('robots', {'action' : 'edit'}) }}" class="btn btn-link">{{ 'admin.edit.robots'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <h3 class="card-header">{{ 'admin.visits'|trans }}</h3>
                <div class="card-block">
                    {{ 'api.yandex'|trans }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}{% endblock %}