{% extends 'base.admin.html.twig' %}

{% block title %}{{ ('admin.elements.many.'~type)|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <section class="text-center">
                <h2>{{ ('admin.elements.many.'~type)|trans() }}</h2>
                <a href="{{ path('new_' ~ type) }}" title="{{ ('admin.new.'~type)|trans }}" class="btn btn-link">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                {% set disable = false %}
                {% if data is empty %}
                    {% set disable = true %}
                {% endif %}
                <a
                    href="{{ path('remove_' ~ type, {'count' : 'all'}) }}"
                    title="{{ ('admin.actions.remove_all')|trans }}" class="remove btn btn-link
                    {% if (disable) %}disabled{% endif %}"
                    {% if (disable) %}aria-disabled="true"{% endif %}
                >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </section>
            {% if data is not empty %}
                <table class="table table-hover {#table-responsive#}">
                    {% include 'admin/list_table/' ~ type ~ '.html.twig' %}
                </table>
            {% else %}
                <p class="text-center">{{ 'admin.nothing_not_found'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascriptsFooter %}{% endblock %}