body {
    background: #F7F7F7;
    color: #73879C;
}

.register_wrapper {
    right: 0;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 350px;
    position: relative;
}

.register_form {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 22;
}

.register_content form {
    margin: 20px 0;
    position: relative;
}

.register_content form input[type="text"],
.register_content form input[type="email"],
.register_content form input[type="password"] {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}

.register_content form input[type="text"]:focus,
.register_content form input[type="email"]:focus,
.register_content form input[type="password"]:focus {
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #A97AAD inset;
    background-color: #fff;
    border: 1px solid #A878AF;
    outline: none;
}

#_username {background-position: 10px 10px !important;}

#_password {background-position: 10px -53px !important;}

.register_content form div a {
    font-size: 12px;
    margin: 10px 15px 0 0;
}

.register_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
}

.register_content a,
.register_content .btn-default:hover {text-decoration: none;}

.register_content a:hover {text-decoration: underline;}

.register_content h1 {
    font: normal 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

.register_content h1:before,
.register_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

.register_content h1:after {
    background: #7e7e7e;
    background: linear-gradient(left, #7e7e7e 0%, #fff 100%);
    right: 0;
}

.register_content h1:before {
    background: #7e7e7e;
    background: linear-gradient(right, #7e7e7e 0%, #fff 100%);
    left: 0;
}

.register_content h1:before,
.register_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 20%;
}

.register_content h1:after {
    background: #7e7e7e;
    background: linear-gradient(left, #7e7e7e 0%, #fff 100%);
    right: 0;
}

.register_content h1:before {
    background: #7e7e7e;
    background: linear-gradient(right, #7e7e7e 0%, #fff 100%);
    left: 0;
}

.form-control {
    border-radius: 0;
    width: 100%;
}

.form-control:focus {
    border-color: #CCD0D7;
    box-shadow: none !important;
}

.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.separator {
    border-top: 1px solid #D8D8D8;
    margin-top: 10px;
    padding-top: 10px;
}