{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}<style>.success {text-align: center;}</style>{% endblock %}

{% block fos_user_content %}
    <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

    {% if targetUrl %}
        <p class="text-center"><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <p class="text-center"><a href="{{ path('dashboard') }}">{{ 'for_all.admin_panel'|trans({}, 'messages') }}</a></p>
{% endblock fos_user_content %}
