{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.registration'|trans({}, 'messages') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fos_user_bundle/register.css') }}"/>
{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block body %}
    {% block fos_user_content %}
        <div class="register">
            <div class="register_wrapper">
                <div id="register" class="animate form registration_form">
                    <section class="register_content">
                        <form name="fos_user_registration_form" method="post" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">
                            <h1>{{ 'security.create_account'|trans({}, 'messages') }}</h1>
                            <div id="fos_user_registration_form">
                                <div>
                                    <input type="email" id="fos_user_registration_form_email" class="form-control" placeholder="Email" name="fos_user_registration_form[email]" required="required">
                                </div>
                                <div>
                                    <input type="text" id="fos_user_registration_form_username" class="form-control" placeholder="{{ 'security.username'|trans({}, 'messages') }}" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}">
                                </div>
                                <div>
                                    <input type="password" id="fos_user_registration_form_plainPassword_first" class="form-control" placeholder="{{ 'security.password'|trans({}, 'messages') }}" name="fos_user_registration_form[plainPassword][first]" required="required">
                                </div>
                                <div>
                                    <input type="password" id="fos_user_registration_form_plainPassword_second" class="form-control" placeholder="{{ 'security.repeat_password'|trans({}, 'messages') }}" name="fos_user_registration_form[plainPassword][second]" required="required">
                                </div>
                                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="{{ csrf_token('registration') }}">
                            </div>
                            <div>
                                <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default submit">
                            </div>
                            <div class="clearfix"></div>

                            <div class="separator">
                                <div>
                                    <p>Copyright &copy; {{ 'for_all.my_name'|trans({}, 'messages') }} {{ 'now'|date('Y') }}</p>
                                    <p>{{ 'for_all.all_rights_reserved'|trans({}, 'messages') }}.</p>
                                    <p><a href="{{ url("dashboard") }}">{{ 'for_all.admin_panel'|trans({}, 'messages') }}</a> </p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascriptsFooter %}{% endblock %}