{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ ('security.change_password')|trans({}, 'messages') }}{% endblock %}

{% block fos_user_content %}
    {{ form_start(form, {
        'action':   path('fos_user_change_password'),
        'attr'  :   {
            'class' :   'fos_user_change_password',
            'id'    :   'change_pass'
        }
    }) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-success" style="cursor: pointer;">{{ 'change_password.submit'|trans }}</button>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-primary">{{ 'for_all.back'|trans({}, 'messages') }}</a>
        </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}

{% block javascriptsFooter %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#change_pass > div:first-child > div').addClass('form-group');
            $('#change_pass > div:first-child > div > input').addClass('form-control');
        });
    </script>
{% endblock %}