{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {{ form_start(form, {
        'action': path('fos_user_group_edit', {'groupName': group_name}),
        'attr': {'class': 'fos_user_group_edit'}
    }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'group.edit.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
