{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="fos_user_group_list">
        <ul>
            {% for group in groups %}
                <li><a href="{{ path('fos_user_group_show', {'groupName': group.getName()}) }}">{{ group.getName() }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock fos_user_content %}
