{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {{ form_start(form, { 'action': path('fos_user_group_new'), 'attr': { 'class': 'fos_user_group_new' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'group.new.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
