{% extends '@FOSUser/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'security.login'|trans({}, 'messages') }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fos_user_bundle/login.css') }}"/>
{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block body %}
    {% block fos_user_content %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div>
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <h1>{{ 'security.login_form'|trans({}, 'messages') }}</h1>
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                            {% endif %}

                            <input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'security.username'|trans({}, 'messages') }}" value="{{ last_username }}" required="required" autofocus>
                            <input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'security.password'|trans({}, 'messages') }}" required="required">

                            <div>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                <button type="submit" id="_submit" class="btn btn-default submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                            </div>

                            <div class="clearfix"></div>

                            <div class="separator">
                                <div>
                                    <h1><i class="fa fa-cogs"></i> {{ 'for_all.admin_panel'|trans({}, 'messages') }}</h1>
                                    <p>© {{ 'now'|date('Y') }} {{ 'for_all.my_name'|trans({}, 'messages') }}. {{ 'for_all.all_rights_reserved'|trans({}, 'messages') }}.</p>
                                    <p><a href="{{ url("homepage") }}">{{ 'for_all.go_to_homepage'|trans({}, 'messages') }}</a> </p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{% endblock %}

{% block javascriptsFooter %}{% endblock %}