<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bower/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bower/bower_components/fontawesome/css/font-awesome.min.css') }}">
    <style>.btn {cursor: pointer;}</style>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('images/icons/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/icons/manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('images/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#00aba9">

    <script type="text/javascript" src="{{ asset('bower/bower_components/jquery/dist/jquery.min.js') }}"></script>
    {% block javascriptsHeader %}{% endblock %}
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="row text-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="nav-link">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% endif %}
                </div>

                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">{{ message|trans({}, 'FOSUserBundle') }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    {% block fos_user_content %}{% endblock fos_user_content %}
                </div>
            </div>
        </div>
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('bower/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bower/bower_components/fastclick/lib/fastclick.js') }}"></script>
    <script type="text/javascript">$(function() {FastClick.attach(document.body);});</script>
    {% block javascriptsFooter %}{% endblock %}
</body>
</html>