{% extends 'base.site.no_page.html.twig' %}

{% block title %}{{ category.getTitle() }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">{{ 'site.menu.go_to_top'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('category') }}">{{ 'site.menu.category'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('article') }}">{{ 'site.menu.article'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('projects') }}">{{ 'site.menu.projects'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">{{ category.getTitle() }}</h1>
                <hr>
                <p>{{ category.getDescription() }}</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#articles">{{ 'site.button.articles'|trans }}</a>
            </div>
        </div>
    </header>

    <section id="articles" class="call-to-action bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">{{ 'site.button.articles'|trans }}</h2>
                    <hr class="primary">
                </div>
            </div>

            <div class="row">
                {% if articles is not empty %}
                    {% if articles|length > 1 %}
                        {% for article in articles %}
                            <div class="col-lg-6 ml-auto text-center">
                                <h3 class="section-heading"><a href="{{ path('article', {'article_url' : article.getUrl()}) }}">{{ article.getTitle() }}</a></h3>
                                <hr class="light">
                                <p class="text-faded">{{ article.getSummary() }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 ml-auto text-center">
                            <h3 class="section-heading"><a href="{{ path('article', {'article_url' : articles[0].getUrl()}) }}">{{ articles[0].getTitle() }}</a></h3>
                            <hr class="light">
                            <p class="text-faded">{{ articles[0].getSummary()|raw }}</p>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-lg-12 ml-auto text-center">
                        <h3 class="section-heading text-white">{{ 'site.text.not_article'|trans }}</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascriptsFooter %}{% endblock %}