{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject) }}
                <div id="error-subject" class="bg-danger text-white"></div>
            </div>
            <div class="form-group">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
                <div id="error-name" class="bg-danger text-white"></div>
            </div>
            <div class="form-group">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
                <div id="error-email" class="bg-danger text-white"></div>
            </div>
            <div class="form-group">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
                <div id="error-phone" class="bg-danger text-white"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 text-center">
            {{ form_widget(form.save) }}
        </div>
    </div>
{{ form_end(form) }}

{% block javascriptsFooter %}
    <script type="text/javascript">let locale = '{{ app.request.locale }}';</script>
    <script src="{{ asset('js/ajax.js') }}" type="text/javascript" ></script>
{% endblock %}