{% extends 'base.site.page.html.twig' %}

{% block title %}{{ 'site.menu.articles'|trans }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block content %}
    {%
        set menu = {
            'page-top'  :   'site.menu.go_to_top'|trans,
            'articles'  :   'site.menu.articles'|trans,
            'category'  :   'site.menu.category'|trans
        }
    %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% for item, tr in menu %}
                        {% if blocks['header'] is not empty and item == 'page-top' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif articles is not empty and item == 'articles' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('projects') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.projects'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('categories') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.category'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if blocks['header'] is not empty %}
        <header class="masthead">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">{{ blocks['header'].getTitle() }}</h1>
                    <hr>
                    <p>{{ blocks['header'].getContent()|raw }}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#articles">{{ 'site.button.articles'|trans }}</a>
                </div>
            </div>
        </header>
    {% endif %}

    {% if articles is not empty %}
        {% if articles|length > 1 %}
            <section id="articles">
                <div class="container">
                    <div class="row">
                        {% for article in articles %}
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="articles-box">
                                    <h3><a href="{{ path('article', {'article_url' : article.getUrl()}) }}" class="text-white">{{ article.getTitle() }}</a></h3>
                                    <p class="text-faded">{{ article.getSummary()|raw }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% else %}
            <section id="articles">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-center">
                            <div class="articles-box">
                                <h3><a href="{{ path('article', {'article_url' : articles[0].getUrl()}) }}" class="text-white">{{ articles[0].getTitle() }}</a></h3>
                                <p class="text-faded">{{ articles[0].getSummary()|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% else %}
        <section id="articles">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="articles-box">
                            <h3>{{ 'site.text.not_article'|trans }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}