{% extends 'base.site.page.html.twig' %}

{% block title %}{{ 'site.menu.category'|trans }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">{{ 'site.menu.go_to_top'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('articles') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.articles'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('projects') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.projects'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if blocks['header'] is not empty %}
        <header class="masthead">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">{{ blocks['header'].getTitle() }}</h1>
                    <hr>
                    <p>{{ blocks['header'].getContent()|raw }}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#articles">{{ 'site.button.articles'|trans }}</a>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">{{ 'site.button.portfolio'|trans }}</a>
                </div>
            </div>
        </header>
    {% endif %}

    {% if category is not empty %}
        {% if category['articles']['parent'] is not empty %}
            <section id="articles" class="call-to-action bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">{{ category['articles']['parent'].getTitle() }}</h2>
                            <hr class="primary">
                            <p>{{ category['articles']['parent'].getDescription()|raw }}</p>
                        </div>
                    </div>
                    {% if category['articles']['child'] is not empty %}
                        <div class="row">
                            {% if category['articles']['child']|length > 1 %}
                                {% for subCat in category['articles']['child'] %}
                                    <div class="col-lg-3 col-md-6 text-center">
                                        <div class="category-box">
                                            <h3><a href="{{ path('category', {'cat_url' : subCat.getUrl()}) }}">{{ subCat.getTitle() }}</a></h3>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-lg-12 col-md-12 text-center">
                                    <div class="category-box">
                                        <h3>
                                            <a href="{{ path('category', {'cat_url' : category['articles']['child'][0].getUrl()}) }}">
                                                {{ category['articles']['child'][0].getTitle() }}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-center">
                                <div class="category-box">
                                    <h3>{{ 'site.text.not_article_in_category'|trans }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
        {% if category['portfolio']['parent'] is not empty %}
            <section id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">{{ category['portfolio']['parent'].getTitle() }}</h2>
                            <hr class="primary">
                            <p>{{ category['portfolio']['parent'].getDescription()|raw }}</p>
                        </div>
                    </div>

                    {% if category['portfolio']['child'] is not empty %}
                        <div class="row">
                            {% if category['portfolio']['child']|length > 1 %}
                                {% for subCat in category['portfolio']['child'] %}
                                    <div class="col-lg-4 ml-auto text-center">
                                        <h3 class="section-heading"><a href="{{ path('category', {'cat_url' : subCat.getUrl()}) }}">{{ subCat.getTitle() }}</a></h3>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-lg-12 ml-auto text-center">
                                    <h3 class="section-heading">
                                        <a href="{{ path('category', {'cat_url' : category['portfolio']['child'][0].getUrl()}) }}">
                                            {{ category['portfolio']['child'][0].getTitle() }}
                                        </a>
                                    </h3>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-12 ml-auto text-center">
                                <div class="category-box">
                                    <h3>{{ 'site.text.not_project_in_category'|trans }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}