{% extends 'base.site.page.html.twig' %}

{% block content %}
    {%
        set menu = {
            'page-top'  :   'site.menu.go_to_top'|trans,
            'about'     :   'site.menu.about'|trans,
            'services'  :   'site.menu.services'|trans,
            'portfolio' :   'site.menu.projects'|trans,
            'contact'   :   'site.menu.contact'|trans
        }
    %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% for item, tr in menu %}
                        {% if blocks['header'] is not empty and item == 'page-top' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif blocks['about'] is not empty and item == 'about' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif blocks['services']['parent'] is not empty and item == 'services' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif projects is not empty and item == 'portfolio' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif blocks['contact'] is not empty and item == 'contact' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('articles') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.articles'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('categories') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.category'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if blocks['header'] is not empty %}
        <header class="masthead">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">{{ blocks['header'].getTitle() }}</h1>
                    <hr>
                    <p>{{ blocks['header'].getContent()|raw }}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">{{ 'site.button.find_out_more'|trans }}</a>
                </div>
            </div>
        </header>
    {% endif %}

    {% if blocks['about'] is not empty %}
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading text-white">{{ blocks['about'].getTitle() }}</h2>
                        <hr class="light">
                        <p class="text-faded">{{ blocks['about'].getContent()|raw }}</p>
                        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">{{ 'site.button.my_service'|trans }}</a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if blocks['services']['parent'] is not empty and blocks['services']['child'] is not empty %}
        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ blocks['services']['parent'].getTitle() }}</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for service in blocks['services']['child'] %}
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                {% set class = '' %}
                                {% if service.getName() == 'frontend' %}
                                    {% set class = 'fa-html5' %}
                                {% elseif service.getName() == 'backend' %}
                                    {% set class = 'fa-code' %}
                                {% elseif service.getName() == 'cms' %}
                                    {% set class = 'fa-newspaper-o' %}
                                {% elseif service.getName() == 'quality' %}
                                    {% set class = 'fa-thumbs-o-up' %}
                                {% endif %}
                                <i class="fa fa-4x {{ class }} text-primary sr-icons"></i>
                                <h3>{{ service.getTitle() }}</h3>
                                <div class="text-muted">{{ service.getContent()|raw }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    {% if projects is not empty %}
        <section class="p-0" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter popup-gallery">
                    {% for project in projects %}
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="/project{{ project.getUrl() }}">
                                <img class="img-fluid" src="{{ asset(project.getImage()) }}" alt="{{ project.getTitle() }}">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">{{ project.getCategory().getTitle() }}</div>
                                        <div class="project-name">{{ project.getTitle() }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="call-to-action bg-dark">
            <div class="container text-center">
                <h2>{{ 'site.text.more_project'|trans }}</h2>
                <a class="btn btn-default btn-xl sr-button see" href="{{ path('projects') }}" data-sr-id="6">{{ 'site.button.see'|trans }}</a>
            </div>
        </div>
    {% endif %}

    {% if blocks['contact'] is not empty %}
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">{{ blocks['contact'].getTitle() }}</h2>
                        <hr class="primary">
                        <p>{{ blocks['contact'].getContent()|raw }}</p>
                    </div>
                </div>
                {% if options is not null %}
                    <div class="row">
                        {% for option in options %}
                            {% if option.name == 'phone' %}
                                <div class="col-lg-4 ml-auto text-center">
                                    <i class="fa fa-phone fa-3x sr-contact"></i>
                                    <p><a href="tel:{{ option.getContent() }}">{{ option.getContent() }}</a></p>
                                </div>
                            {% elseif option.name == 'email' %}
                                <div class="col-lg-4 mr-auto text-center">
                                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                                    <p><a href="mailto:{{ option.getContent() }}">{{ option.getContent() }}</a></p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="container text-center">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact-me">{{ 'site.button.contact_me'|trans }}</a>
            </div>
        </section>
        <section id="contact-me">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ 'site.title.contact_me'|trans }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'site/forms/contact.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}