{% extends 'base.site.page.html.twig' %}

{% block title %} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascriptsHeader %}{% endblock %}

{% block content %}{% endblock %}

{% block javascriptsFooter %}{% endblock %}