{% extends 'base.site.page.html.twig' %}

{% block title %}{{ 'site.title.projects'|trans }} | {{ 'site.title.developer'|trans }}  {{ 'for_all.my_name'|trans }}{% endblock %}

{% block content %}
    {%
        set menu = {
            'page-top'  :   'site.menu.go_to_top'|trans,
            'projects'  :   'site.menu.projects'|trans
        }
    %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ 'site.title.homepage'|trans }}</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% for item, tr in menu %}
                        {% if blocks['header'] is not empty and item == 'page-top' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% elseif projects is not empty and item == 'projects' %}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#{{ item }}">{{ tr }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('article') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.article'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{ path('categories') }}" target="_blank">
                            <i class="fa fa-external-link" aria-hidden="true"></i> {{ 'site.menu.category'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if blocks['header'] is not empty %}
        <header class="masthead">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">{{ blocks['header'].getTitle() }}</h1>
                    <hr>
                    <p>{{ blocks['header'].getContent()|raw }}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">{{ 'site.button.portfolio'|trans }}</a>
                </div>
            </div>
        </header>
    {% endif %}
    {% if projects is not empty %}
        {% if projects|length > 1 %}
            <section class="p-0" id="portfolio">
                <div class="container-fluid">
                    <div class="row no-gutter popup-gallery">
                        {% for project in projects %}
                            <div class="col-lg-4 col-sm-6">
                                <a class="portfolio-box" href="{{ project.getUrl() }}">
                                    <img class="img-fluid" src="{{ asset(project.getImage()) }}" alt="{{ project.getTitle() }}">
                                    <div class="portfolio-box-caption">
                                        <div class="portfolio-box-caption-content">
                                            <div class="project-category text-faded">{{ project.getCategory().getTitle() }}</div>
                                            <div class="project-name">{{ project.getTitle() }}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% else %}
            <section id="portfolio">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-center">
                            <div class="projects-box">
                                <h3>{{ 'site.text.not_projects'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% else %}
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="projects-box">
                            <h3>{{ 'site.text.not_projects'|trans }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}